h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }
}

.hero {
  color: #fbfbfb;
  background-color: #576f35;
}

.container {
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.hero-img {
  background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.2) 0%,
      rgba(20, 20, 20, 0.2) 100%
    ),
    url(./images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 370px;
  max-width: 375px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 122px;
    padding-bottom: 50px;
    width: 768px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 20px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-tab.jpg);
    height: 539px;
    width: 768px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-img {
      background: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(./images/hero-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 238px;
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-desk.jpg);
    height: 800px;
    width: 650px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-img {
      background: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(./images/hero-desk@2x.jpg);
    }
  }
}
