* {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.hero {
  color: #fbfbfb;
  background-color: #576f35;
}

.hero-container {
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.hero-img {
  background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.2) 0%,
      rgba(20, 20, 20, 0.2) 100%
    ),
    url(./images/hero-mob.jpg),
    lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
  width: 375px;
  height: 370px;
  margin: 0 auto;
  background-size: 375px 370px;
}

@media (min-resolution: 192dpi) {
  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-mob@2x.jpg),
      lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 375px;
    height: 370px;
    background-size: 375px 370px;
  }
}

@media screen and (max-width: 374.99px) {
  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-mob.jpg),
      lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 100vw;
    height: 370px;
    margin: 0 auto;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 122px;
    padding-bottom: 50px;
    width: 768px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 20px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    width: 603px;
  }

  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-tab.jpg),
      lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 768px;
    height: 539px;
    background-size: 768px 539px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-img {
      background: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(./images/hero-tab@2x.jpg),
        lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
      width: 768px;
      height: 539px;
      background-size: 768px 539px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    gap: 28px;
    margin: 0 auto;
  }

  .container {
    width: 602px;
    margin-right: 0;
    padding-right: 0;
    padding-top: 238px;
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-text {
    width: 472px;
  }

  .hero-img {
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(./images/hero-desk.jpg),
      lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
    width: 650px;
    height: 800px;
    background-size: 650px 800px;
    margin-left: 0;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-img {
      background: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(./images/hero-desk@2x.jpg),
        lightgray -21.701px -17.796px / 115.12% 121.468% no-repeat;
      width: 650px;
      height: 800px;
      background-size: 650px 800px;
    }
  }
}

/* -------------------------------------- HOW  IT  WORKS---------------------------------------------------------------- */

.works {
  display: flex;
  flex-direction: column;
  position: relative;
}

.work-image-conteiner {
  /* background-color: #7a3145; */
}
.container-img {
  margin: 0 auto;
  max-width: 375px;
  padding: 40px 20px;
}
.work-photo {
  border-radius: 30px;
  max-width: 335px;
  overflow: hidden;
  shrink: 0;
}
.work-info-wrap {
  /* background-color: #576f35; */
  padding-top: 80px;
  padding-bottom: 80px;
}
.work-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.work-conteiner {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.work-subtitle {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle-span {
  color: rgba(251, 251, 251, 0.3);
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.work-text {
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 40px;
  letter-spacing: -0.02em;
}
.work-list {
  gap: 20px;
  counter-reset: number 0;
}
/* .work-item {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 27px;
  border-radius: 15px;
  background-color: var(--light-text-color);
}
.work-item-text {
  color: rgba(20, 20, 20, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.024px;
  text-align: start;
}
.span-work-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.024px;
  text-transform: none;
} */

@media (min-width: 1280px) {
  .red {
    background-color: #7a3145;
    width: 630px;
    height: 759px;
    flex: 0 0 calc(((100vw - 1280px) / 2) + 630px);
    z-index: -9;
  }
  .green {
    background-color: #576f35;
    height: 759px;
    width: 650px;
    flex: 0 0 calc(((100vw - 1280px) / 2) + 650px);
    z-index: -9;
  }
  .work-content {
    transform: translatex(-50vw);
  }

  .background {
    display: flex;
    flex-direction: row;
  }

  .work-content {
    flex-direction: row;
    margin: 0 auto;
    max-width: 1280px;
    padding: 100px;
  }
  .container-img {
    margin: 0 auto;
    max-width: 375px;
    padding: 40px 20px;
  }
  .work-photo {
    border-radius: 30px;
    width: 430px;
    height: 559;
    overflow: hidden;
    shrink: 0;
  }
}
